<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>

    <link rel='stylesheet' href='/index.css' />
  </head>

  <body>
    <div class='time'>접속시간 :
      {{year}}년
      {{month}}월
      {{date}}일
      {{hour}}시
      {{minute}}분
      {{second}}초
    </div>

    {{>nav}}

    <div>
      <h1>돼지고기 김치찜</h1>
      <img src='/background.jpg' alt='' />
    </div>
  </body>
</html>